'.source.rsl':
  'editor':
    'foldEndPattern': '(\\*/|^\\s*(\\}|\\]|\\)))'
    'increaseIndentPattern': '^.*(\\{\\}?|\\(\\)?|class|value|let|if|then|else|elsif)\\s*$'
    'decreaseIndentPattern': '^\\s*(\\}|end|\\))'
    'commentStart': '\\/\\* '
