'.source.rsl':
  'editor':
    'foldEndPattern': '(\\*/|end|^\\s*(\\}|\\]|\\)))'
    'indentNextLinePattern': '\\[.*\\]'
    'increaseIndentPattern': '^.*(\\{\\}?|\\(\\)?|scheme|class|object|type|test_case|axiom|value|let|if|then|else|elsif)\\s*$'
    'decreaseIndentPattern': '^\\s*(\\}|end|\\))'
    'commentStart': '(\\/\\*|\\-\\-)'
